<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Treino</title>
</head>
<body>
    <% treinos.forEach(function(treino){ %>
        <p><%= teste %></p>
        <p><%= treino.nomeTreino %></p>
    <%}) %>
</body>
</html>