<!DOCTYPE html>
<html>
<head>
    <title>Gym-Service</title>
    <meta charset="UTF-8">
</head>
<body>
    <h2>Teste GET , POST and PATCH by ID</h2>
    <p><%= treino_usuario[0].id_usuario %></p>
    <p><%= treino_usuario[0].nome_dia %></p>
    <p><%= treino_usuario[0].nome %></p>
    <p><%= treino_usuario[0].id_usuario %></p>
</body>
</html>