<!DOCTYPE html>
<html lang="en">
<head>
  <title>Gym-Service</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

    <div class="jumbotron text-center" style="margin-bottom:0">
            <h1>Gym Service</h1> 
    </div>
        
    
    <fieldset>
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>                        
                </button>
                <a class="navbar-brand" href="#">Dias</a>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#">Home</a></li>
                        <li><a href=".conteudo">Segunda</a>
                
                        </li>
                        <li><a class="rd_abas" href="#">Terça</a>
                            <div class="conteudo">                               
                                    <h2>Treino</h2>
                                    <table>
                                        <tr>
                                            <td><b>ID</b></td>
                                            <td><b>Tipo do Treino</b></td>
                                        </tr>
                                        <tr>
                                                <td><%= treino[1].id%></td>
                                                
                                                <td><%= treino[1].nomeTreino%></td>
                                        </tr>
                                        <p></p>
                                    </table>                                                                                                        
                            </div>
                        </li>
                        <li><a class="rd_abas" href="#">Quarta</a></li>
                        <li><a class="rd_abas" href="#">Quinta</a></li>
                        <li><a class="rd_abas" href="#">Sexta</a></li>
                        <li><a class="rd_abas" href="#">Sábado</a></li>

                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </fieldset>
  
<div class="container">
  <h3>Collapsible Navbar</h3>
  <p>In this example, the navigation bar is hidden on small screens and replaced by a button in the top right corner (try to re-size this window).
  <p>Only when the button is clicked, the navigation bar will be displayed.</p>
</div>
<div class="conteudo">                               
        <h2>Treino</h2>
        <table>
            <tr>
                <td><b>ID</b></td>
                <td><b>Tipo do Treino</b></td>
            </tr>
            <tr>
                <td><%= treino[0].id%></td>
                
                <td><%= treino[0].nomeTreino%></td>
            </tr>
            <p></p>
        </table>                                                                                                        
</div>

</body>
<style>
    .rb_abas{
        display: none;
    }
</style>
</html>
